@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SignalR .Net Core Example</h1>
</div>

<div class="h-100 d-flex align-items-center justify-content-center p-5">
    <div class="col-4">
        <input type="text" class="form-control" id="userInput" placeholder="Kullanıcı..." />
        <br />
        <input type="text" class="form-control" id="messageInput" placeholder="Mesaj..." />
        <br />
        <button class="btn-primary" onclick="sendMessage()">Gönder</button>
    </div>
    <ul id="messagesList"></ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/sampleHub")
        .build();

    connection.on("ReceiveMessage", (user, message) => {
        const li = document.createElement("li");
        li.textContent = `${user}: ${message}`;
        document.getElementById("messagesList").appendChild(li);
    });

    connection.start().catch(err => console.error(err.toString()));

    function sendMessage() {
        const user = document.getElementById("userInput").value;
        const message = document.getElementById("messageInput").value;
        connection.invoke("SendMessage", user, message).catch(err => console.error(err.toString()));
    }
</script>